*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* universal selector */

/* *{
    color: red;
    font-size: 30px;
    font-weight: 700;
} */

/*  // universal selector */

/* simple selector */

h1{
    color: blue;
}

.heading{
    color: brown;
}

#headingOne{
    color: orangered;
}


/* simple selector */


